body {
  background-color: #282c34;
  color: white;
  padding: 2vw;
}

.isTrue{
  color: green;
}

.isFalse{
  color: red;
}

button{
  background-color: #19191a;
  color: white;
  border: solid 1px #3f3e3e;
  border-radius: 5px;
  padding: 10px;
  margin-right: 5px;
}

button:hover{
  background-color: #ffffff;
  color: black;
  cursor: pointer;
}